@page
@using GmailCleaner.Common.Models
@using GmailCleaner.Models
@using GmailCleaner.Models.Data
@using GmailCleaner.Models.ExternalModels
@using GmailCleaner.Models.ViewModels
@using GmailCleaner.Pages
@using System.Text.Json.Nodes
@using System.Web
@model MessagesModel
@{
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .container {
        max-width: 900px;
    }

    .checkbox-group {
        display: flex;
        align-items: center;
    }

        .checkbox-group input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

    .checkbox-label {
        font-size: 16px;
        margin-bottom: 0;
    }

    .btn-clean {
        background-color: #ffc107;
        color: #212529;
        border: 1px solid #ffc107;
    }

        .btn-clean:hover {
            background-color: #e0a800;
            color: #212529;
            border: 1px solid #e0a800;
        }
</style>

@if (Model.EmailErrors.Count > 0)
{
    <div class="card alert-danger">
        @foreach (Error error in Model.EmailErrors.Errors)
        {
            if (error.StatusCode is not null)
            {
                <span>Status Code: @error.StatusCode</span>
            }
            <span>Error Message: @error.Message</span>
        }
    </div>
}

@if (Model.Messages.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="alert alert-success" role="alert">
                We found @Model.Messages.Count() potential junk emails!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <a class="btn btn-success" href="/MessageDetail">View these emails before trashing.</a>
        </div>
        <form class="text-center" method="post" asp-page-handler="DeleteAll">
            <button type="submit" class="btn btn-secondary alert alert-secondary">Clear Message Data</button>
        </form>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h5>Confirm move to Trash</h5>
            <span>Any emails selected will not be permanently deleted but moved to your trash folder. You can recover them within 30 days if you would like.</span>
        </div>
        <div class="card-body">
            <form method="post" class="container">
                @foreach (MessageViewModel mvm in Model.MessageViewModels)
                {
                    <div class="form-group form-check row align-items-center">
                        <div class="checkbox-group">
                            <input class="form-check-input" name=@mvm.LinkingMessageId type="checkbox" id=@mvm.LinkingMessageId value="1">
                            <label class="form-check-label checkbox-label" for=@mvm.LinkingMessageId>
                                Delete @mvm.MessageGmailIds.Count emails from @mvm.From
                            </label>
                        </div>
                    </div>
                }
                <div class="col-12 mb-3 text-center p-2">
                    <button type="submit" class="btn btn-clean">Trash Selected Emails</button>
                </div>
            </form>
        </div>
    </div>
    <br />
}
